.container {
    margin: 8rem auto;
    max-width: 120rem;
    min-height: 60rem;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}    

.header {
    height: 7rem;
    background-color: var(--color-pure-white);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        height: 12rem;
        align-content: space-around;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    flex: 0 0 18%;
    background-color: var(--color-grey-dark-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    flex: 1;
    background-color: var(--color-pure-white);
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    flex: 0 0 60%;
    font-size: 1.4rem;
    padding: 3rem;
    margin-right: 4.5rem;
    background-color: var(--color-pure-white);
    box-shadow: var(--shadow-light);

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
